/* ---------- MODULES SECTION ---------- */

.module-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 24px 4em 24px;
    gap: 1em;
}

.module-section__main {
    flex: 1;
}

.module-group__link-icon {
    position: absolute;
    left: 3em;
    top: 1.2em;
}
